<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.ticker}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" id="overview">
            <h3>{{.ticker}} Overview</h3>
            <ul class="list-group overview">
                <li class="list-group-item">Name : {{.overview.Name}}</li>
                <li class="list-group-item">AssetType : {{.overview.AssetType}}</li>
                <li class="list-group-item">Description : {{.overview.Description}}</li>
            </ul>
            <div class="row">
                <div class="col">
                    <ul class="list-group overview">
                        <li class="list-group-item">Exchange : {{.overview.Exchange}}</li>
                        <li class="list-group-item">Country : {{.overview.Country}}</li>
                        <li class="list-group-item">Sector : {{.overview.Sector}}</li>
                        <li class="list-group-item">Industry : {{.overview.Industry}}</li>
                        <li class="list-group-item">FiscalYearEnd : {{.overview.FiscalYearEnd}}</li>
                        <li class="list-group-item">LatestQuarter : {{.overview.LatestQuarter}}</li>
                        <li class="list-group-item">Currency : {{.overview.Currency}}</li>
                        <li class="list-group-item">MarketCapitalization : {{ formatNumber .overview.MarketCapitalization }}</li>
                        <li class="list-group-item">PERatio : {{.overview.PERatio}}</li>
                        <li class="list-group-item">PEGRatio : {{.overview.PEGRatio}}</li>
                        <li class="list-group-item">ProfitMargin : {{.overview.ProfitMargin}}</li>
                        <li class="list-group-item">ReturnOnEquityTTM : {{.overview.ReturnOnEquityTTM}}</li>
                        <li class="list-group-item">DividendYield : {{.overview.LatestQuarter}}</li>
                        <li class="list-group-item">DividendPerShare : {{.overview.LatestQuarter}}</li>
                        <li class="list-group-item">OperatingMarginTTM : {{.overview.LatestQuarter}}</li>
                        <li class="list-group-item">ReturnOnAssetsTTM : {{.overview.LatestQuarter}}</li>
                        <li class="list-group-item">EBITDA : {{.overview.EBITDA}}</li>
                        <li class="list-group-item">BookValue : {{.overview.BookValue}}</li>
                        <li class="list-group-item">revenuePerShare : {{.overview.revenuePerShare}}</li>
                        <li class="list-group-item">50DayMovingAverage : {{ index .overview "50DayMovingAverage" }}</li>
                        <li class="list-group-item">200DayMovingAverage : {{ index .overview "200DayMovingAverage" }}</li>
                        <li class="list-group-item">SharesOutstanding : {{ formatNumber .overview.SharesOutstanding }}</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group overview">
                        <li class="list-group-item">quarterlyEarningsGrowthYOY : {{.overview.QuarterlyEarningsGrowthYOY}}</li>
                        <li class="list-group-item">QuarterlyRevenueGrowthYOY : {{.overview.QuarterlyRevenueGrowthYOY}}</li>
                        <li class="list-group-item">Beta : {{.overview.Beta}}</li>
                        <li class="list-group-item">PriceToSalesRatioTTM : {{.overview.PriceToSalesRatioTTM}}</li>
                        <li class="list-group-item">AnalystTargetPrice : {{.overview.AnalystTargetPrice}}</li>
                        <li class="list-group-item">AnalystRatingStrongBuy : {{.overview.AnalystRatingStrongBuy}}</li>
                        <li class="list-group-item">AnalystRatingBuy : {{.overview.AnalystRatingBuy}}</li>
                        <li class="list-group-item">AnalystRatingHold : {{.overview.AnalystRatingHold}}</li>
                        <li class="list-group-item">AnalystRatingSell : {{.overview.AnalystRatingSell}}</li>
                        <li class="list-group-item">AnalystRatingStrongSell : {{.overview.AnalystRatingStrongSell}}</li>
                        <li class="list-group-item">EVToEBITDA : {{.overview.EVToEBITDA}}</li>
                        <li class="list-group-item">EPS : {{.overview.EPS}}</li>
                        <li class="list-group-item">RevenueTTM : {{ formatNumber .overview.RevenueTTM }}</li>
                        <li class="list-group-item">GrossProfitTTM : {{ formatNumber .overview.GrossProfitTTM }}</li>
                        <li class="list-group-item">DilutedEPSTTM : {{ formatNumber .overview.DilutedEPSTTM }}</li>
                        <li class="list-group-item">TrailingPE : {{.overview.TrailingPE}}</li>
                        <li class="list-group-item">ForwardPE : {{.overview.ForwardPE}}</li>
                        <li class="list-group-item">PriceToBookRatio : {{.overview.PriceToBookRatio}}</li>
                        <li class="list-group-item">EVToRevenue : {{.overview.EVToRevenue}}</li>
                        <li class="list-group-item">52WeekHigh : {{ index .overview "52WeekHigh" }}</li>
                        <li class="list-group-item">52WeekLow : {{ index .overview "52WeekLow" }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Yearly Revenue Chart</h6>
            <canvas id="stock-chart-revenue-yearly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Quarterly Revenue Chart</h6>
            <canvas id="stock-chart-revenue-quarterly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Yearly Cashflow Chart</h6>
            <canvas id="stock-chart-cashflow-yearly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Quarterly Cashflow Chart</h6>
            <canvas id="stock-chart-cashflow-quarterly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Yearly Profit Margin Chart</h6>
            <canvas id="stock-chart-profitmargin-yearly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Quarterly Profit Margin Chart</h6>
            <canvas id="stock-chart-profitmargin-quarterly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Yearly Operating Margin Chart</h6>
            <canvas id="stock-chart-operatingmargin-yearly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Quarterly Operating Margin Chart</h6>
            <canvas id="stock-chart-operatingmargin-quarterly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Yearly Debt to Equity Ratio Chart</h6>
            <canvas id="stock-chart-debt2equity-yearly"></canvas>
        </div>
        <hr />
        <div class="container">
            <h6>{{.ticker}} Quarterly Debt to Equity Ratio Chart</h6>
            <canvas id="stock-chart-debt2equity-quarterly"></canvas>
        </div>
        <hr />
        <div id="balance-sheet">
            <h3>Yearly Balance Sheet</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Fiscal Date Ending</th>
                    <th scope="col">Total Assets</th>
                    <th scope="col">Cash/Cash Equivalents At Carrying Value</th>
                    <th scope="col">Total Liabilities</th>
                    <th scope="col">Total Shareholder Equity</th>
                    <th scope="col">Inventory</th>
                    <th scope="col">Deferred Revenue</th>
                    <th scope="col">Total Current Liabilities</th>
                    <th scope="col">Long Term Debt</th>
                    <th scope="col">Retained Earnings</th>
                    <th scope="col">Common Stock Shares Outstanding</th>
                </tr>
                </thead>
                <tbody>
                    {{ range .balancesheet.annualReports }}
                    <tr>
                        <th scope="row">{{ .fiscalDateEnding }}</th>
                        <td>{{formatNumber .totalAssets }}</td>
                        <td>{{formatNumber .cashAndCashEquivalentsAtCarryingValue }}</td>
                        <td>{{formatNumber .totalLiabilities }}</td>
                        <td>{{formatNumber .totalShareholderEquity }}</td>
                        <td>{{formatNumber .inventory }}</td>
                        <td>{{formatNumber .deferredRevenue }}</td>
                        <td>{{formatNumber .totalCurrentLiabilities }}</td>
                        <td>{{formatNumber .longTermDebt }}</td>
                        <td>{{formatNumber .retainedEarnings }}</td>
                        <td>{{formatNumber .commonStockSharesOutstanding }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <hr />
        <div id="balance-sheet">
            <h3>Quarterly Balance Sheet</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fiscal Date Ending</th>
                        <th scope="col">Total Assets</th>
                        <th scope="col">Cash/Cash Equivalents At Carrying Value</th>
                        <th scope="col">Total Liabilities</th>
                        <th scope="col">Total Shareholder Equity</th>
                        <th scope="col">Inventory</th>
                        <th scope="col">Deferred Revenue</th>
                        <th scope="col">Total Current Liabilities</th>
                        <th scope="col">Long Term Debt</th>
                        <th scope="col">Retained Earnings</th>
                        <th scope="col">Common Stock Shares Outstanding</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .balancesheet.quarterlyReports }}
                    <tr>
                        <th scope="row">{{ .fiscalDateEnding }}</th>
                        <td>{{formatNumber .totalAssets }}</td>
                        <td>{{formatNumber .cashAndCashEquivalentsAtCarryingValue }}</td>
                        <td>{{formatNumber .totalLiabilities }}</td>
                        <td>{{formatNumber .totalShareholderEquity }}</td>
                        <td>{{formatNumber .inventory }}</td>
                        <td>{{formatNumber .deferredRevenue }}</td>
                        <td>{{formatNumber .totalCurrentLiabilities }}</td>
                        <td>{{formatNumber .longTermDebt }}</td>
                        <td>{{formatNumber .retainedEarnings }}</td>
                        <td>{{formatNumber .commonStockSharesOutstanding }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <hr/>
        <div id="cash-flow">
            <h3>Yearly Cash Flow</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Fiscal Date Ending</th>
                    <th scope="col">Operating CashFlow</th>
                    <th scope="col">Capital Expenditures</th>
                    <th scope="col">Dividend Payout</th>
                    <th scope="col">CashFlow From Financing</th>
                    <th scope="col">CashFlow From Investment</th>
                    <th scope="col">Net Income</th>
                </tr>
                </thead>
                <tbody>
                    {{ range .cashflow.annualReports }}
                    <tr>
                        <th scope="row">{{ .fiscalDateEnding }}</th>
                        <td>{{formatNumber .operatingCashflow }}</td>
                        <td>{{formatNumber .capitalExpenditures }}</td>
                        <td>{{formatNumber .dividendPayout }}</td>
                        <td>{{formatNumber .cashflowFromFinancing }}</td>
                        <td>{{formatNumber .cashflowFromInvestment }}</td>
                        <td>{{formatNumber .netIncome }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <hr />
        <div id="cash-flow">
            <h3>Quarterly Cash Flow</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Fiscal Date Ending</th>
                    <th scope="col">Operating CashFlow</th>
                    <th scope="col">Capital Expenditures</th>
                    <th scope="col">Dividend Payout</th>
                    <th scope="col">CashFlow From Financing</th>
                    <th scope="col">CashFlow From Investment</th>
                    <th scope="col">Net Income</th>
                </tr>
                </thead>
                <tbody>
                    {{ range .cashflow.quarterlyReports }}
                    <tr>
                        <th scope="row">{{ .fiscalDateEnding }}</th>
                        <td>{{formatNumber .operatingCashflow }}</td>
                        <td>{{formatNumber .capitalExpenditures }}</td>
                        <td>{{formatNumber .dividendPayout }}</td>
                        <td>{{formatNumber .cashflowFromFinancing }}</td>
                        <td>{{formatNumber .cashflowFromInvestment }}</td>
                        <td>{{formatNumber .netIncome }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <hr />
        <div id="annual-income-statement">
            <h3>Yearly Income Statement</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Fiscal Date Ending</th>
                    <th scope="col">Total Revenue</th>
                    <th scope="col">Gross Profit</th>
                    <th scope="col">Operating Income</th>
                    <th scope="col">Net Income</th>
                    <th scope="col">EBITDA</th>
                    <th scope="col">Operating Expenses</th>
                    <th scope="col">Income Before Tax</th>
                </tr>
                </thead>
                <tbody>
                    {{ range .income.annualReports }}
                    <tr>
                        <th scope="row">{{ .fiscalDateEnding }}</th>
                        <td>{{formatNumber .totalRevenue }}</td>
                        <td>{{formatNumber .grossProfit }}</td>
                        <td>{{formatNumber .operatingIncome }}</td>
                        <td>{{formatNumber .netIncome }}</td>
                        <td>{{formatNumber .ebitda }}</td>
                        <td>{{formatNumber .operatingExpenses }}</td>
                        <td>{{formatNumber .incomeBeforeTax }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>
            <div id="quarterly-income-statement">
            <h3>Quarterly Income Statement</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fiscal Date Ending</th>
                            <th scope="col">Total Revenue</th>
                            <th scope="col">Gross Profit</th>
                            <th scope="col">Operating Income</th>
                            <th scope="col">Net Income</th>
                            <th scope="col">EBITDA</th>
                            <th scope="col">Operating Expenses</th>
                            <th scope="col">Income Before Tax</th>
                        </tr>
                        </thead>
                    <tbody>
                        {{ range .income.quarterlyReports }}
                        <tr>
                            <th scope="row">{{ .fiscalDateEnding }}</th>
                            <td>{{formatNumber .totalRevenue }}</td>
                            <td>{{formatNumber .grossProfit }}</td>
                            <td>{{formatNumber .operatingIncome }}</td>
                            <td>{{formatNumber .netIncome }}</td>
                            <td>{{formatNumber .ebitda }}</td>
                            <td>{{formatNumber .operatingExpenses }}</td>
                            <td>{{formatNumber .incomeBeforeTax }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          
          // Revenue
          const ctxYearlyRevenue = document.getElementById('stock-chart-revenue-yearly').getContext('2d');
          const ctxQuarterlyRevenue = document.getElementById('stock-chart-revenue-quarterly').getContext('2d');
          const yearlyRevenueData = {{ .revenueTrend.YearlyRevenue }};
          const quarterlyRevenueData = {{ .revenueTrend.QuarterlyRevenue }};
          const yearlyDates = {{ .revenueTrend.YearlyDates }};
          const quarterlyDates = {{ .revenueTrend.QuarterlyDates }};
          new Chart(ctxYearlyRevenue, {
            type: 'line',
            data: {
              labels: yearlyDates,
              datasets: [
                {
                    label: 'Revenue',
                    data: yearlyRevenueData,
                    borderColor: 'green',
                    borderWidth: 2,
                }
              ],
            },
          });

          new Chart(ctxQuarterlyRevenue, {
            type: 'line',
            data: {
              labels: quarterlyDates,
              datasets: [
                {
                    label: 'Revenue',
                    data: quarterlyRevenueData,
                    borderColor: 'green',
                    borderWidth: 2,
                }
              ],
            },
          });

          //cashflow 
          const ctxYearlyCashflow = document.getElementById('stock-chart-cashflow-yearly').getContext('2d');
          const ctxQuarterlyCashflow = document.getElementById('stock-chart-cashflow-quarterly').getContext('2d');
          const yearlyCashflowData = {{ .cashflowTrend.YearlyCashflow }};
          const quarterlyCashflowData = {{ .cashflowTrend.QuarterlyCashflow }};
          const yearlyCashflowDates = {{ .cashflowTrend.YearlyDates }};
          const quarterlyCashflowDates = {{ .cashflowTrend.QuarterlyDates }};

          new Chart(ctxYearlyCashflow, {
            type: 'line',
            data: {
              labels: yearlyCashflowDates,
              datasets: [
                {
                    label: 'Cashflow',
                    data: yearlyCashflowData,
                    borderColor: 'blue',
                    borderWidth: 2,
                }
              ],
            },
          });

          new Chart(ctxQuarterlyCashflow, {
            type: 'line',
            data: {
              labels: quarterlyCashflowDates,
              datasets: [
                {
                    label: 'Cashflow',
                    data: quarterlyCashflowData,
                    borderColor: 'blue',
                    borderWidth: 2,
                }
              ],
            },
          });

          //profit margin 
          const ctxYearlyProfitMargin = document.getElementById('stock-chart-profitmargin-yearly').getContext('2d');
          const ctxQuarterlyProfitMargin = document.getElementById('stock-chart-profitmargin-quarterly').getContext('2d');
          const yearlyProfitMarginData = {{ .profitMarginTrend.YearlyProfitMargin }};
          const quarterlyProfitMarginData = {{ .profitMarginTrend.QuarterlyProfitMargin }};
          const yearlyProfitMarginDates = {{ .profitMarginTrend.YearlyDates }};
          const quarterlyProfitMarginDates = {{ .profitMarginTrend.QuarterlyDates }};

          new Chart(ctxYearlyProfitMargin, {
            type: 'line',
            data: {
              labels: yearlyProfitMarginDates,
              datasets: [
                {
                    label: 'ProfitMargin',
                    data: yearlyProfitMarginData,
                    borderColor: 'purple',
                    borderWidth: 2,
                }
              ],
            },
          });

          new Chart(ctxQuarterlyProfitMargin, {
            type: 'line',
            data: {
              labels: quarterlyProfitMarginDates,
              datasets: [
                {
                    label: 'ProfitMargin',
                    data: quarterlyProfitMarginData,
                    borderColor: 'purple',
                    borderWidth: 2,
                }
              ],
            },
          });


          //operating margin 
          const ctxYearlyOperatingMargin = document.getElementById('stock-chart-operatingmargin-yearly').getContext('2d');
          const ctxQuarterlyOperatingMargin = document.getElementById('stock-chart-operatingmargin-quarterly').getContext('2d');
          const yearlyOperatingMarginData = {{ .operatingMarginTrend.YearlyOperatingMargin }};
          const quarterlyOperatingMarginData = {{ .operatingMarginTrend.QuarterlyOperatingMargin }};
          const yearlyOperatingMarginDates = {{ .operatingMarginTrend.YearlyDates }};
          const quarterlyOperatingMarginDates = {{ .operatingMarginTrend.QuarterlyDates }};

          new Chart(ctxYearlyOperatingMargin, {
            type: 'line',
            data: {
              labels: yearlyOperatingMarginDates,
              datasets: [
                {
                    label: 'OperatingMargin',
                    data: yearlyOperatingMarginData,
                    borderColor: 'purple',
                    borderWidth: 2,
                }
              ],
            },
          });

          new Chart(ctxQuarterlyOperatingMargin, {
            type: 'line',
            data: {
              labels: quarterlyOperatingMarginDates,
              datasets: [
                {
                    label: 'OperatingMargin',
                    data: quarterlyOperatingMarginData,
                    borderColor: 'purple',
                    borderWidth: 2,
                }
              ],
            },
          });


          //debt 2 equity ratio 
          const ctxYearlydebt2equity = document.getElementById('stock-chart-debt2equity-yearly').getContext('2d');
          const ctxQuarterlydebt2equity = document.getElementById('stock-chart-debt2equity-quarterly').getContext('2d');
          const yearlydebt2equityData = {{ .debt2equityRatioTrend.YearlyDebt2EquityRatio }};
          const quarterlydebt2equityData = {{ .debt2equityRatioTrend.QuarterlyDebt2EquityRatio }};
          const yearlydebt2equityDates = {{ .debt2equityRatioTrend.YearlyDates }};
          const quarterlydebt2equityDates = {{ .debt2equityRatioTrend.QuarterlyDates }};

          new Chart(ctxYearlydebt2equity, {
            type: 'line',
            data: {
              labels: yearlydebt2equityDates,
              datasets: [
                {
                    label: 'Debt2Equity',
                    data: yearlydebt2equityData,
                    borderColor: 'pink',
                    borderWidth: 2,
                }
              ],
            },
          });

          new Chart(ctxQuarterlydebt2equity, {
            type: 'line',
            data: {
              labels: quarterlydebt2equityDates,
              datasets: [
                {
                    label: 'Debt2Equity',
                    data: quarterlydebt2equityData,
                    borderColor: 'pink',
                    borderWidth: 2,
                }
              ],
            },
          });
        </script>
    </body>
</html>